.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

:root {
    --pale-violet: hsl(276, 100%, 81%);
    /*sub-heading at the top of the app UI*/
    --moderate-violet: hsl(276, 55%, 52%);
    /*chat on the left*/
    --desaturate-dark-violet: hsl(271, 15%, 43%);
    /*chat on the right*/
    --grayish-blue: hsl(206, 6%, 79%);
    /*placeholder text*/
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    /*main heading*/
    --dark-grayish-violet: hsl(270, 7%, 64%);
    /* paragraph*/
    /*----------------------------------------------------------------*/
    --light-magenta: hsl(293, 100%, 63%);
    /*are applied as a linear gradient*/
    --light-violet: hsl(264, 100%, 61%);
    /*----------------------------------------------------------------*/
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    /*app background*/
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    /*submit button background*/
    --very-light-magenta: hsl(289, 100%, 72%);
    /*radio button outline*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    background-color: var(--light-grayish-violet);
}

span {
    float: right;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto;
}

.one {
    border: solid;
    width: 450px;
    padding: .625rem;
    background-color: var(--light-grayish-violet);
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    color: var(--white);
    margin-bottom: .625rem;
    background: linear-gradient(52deg, var(--light-violet)38%, var(--light-magenta)80%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 2rem 1rem 1rem 1rem;
}

.samuel img {
    width: 45px;
    border-radius: 50%;
}

.chat p {
    padding: .625rem;
    border-radius: 10px;
    max-width: 50%;
    margin: .625rem 0;
}

.purple p {
    background-color: hsl(276, 55%, 52%, 0.1);
    color: var(--moderate-violet);
}

.white {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.white p {
background-color: hsl(271, 15%, 43%, 0.1);
color: var(--desaturate-dark-violet);
}

.doggie {
    display: grid;
    grid-template-columns: auto auto auto;
}

.doggie img {
    border-radius: 15px;
    width: 65px;
}

.two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .together {
    display: grid;
    grid-template-columns: auto auto;
} */